<% include partials/header %>
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Delhi's Cafes</h1>
            <p>View our hand-picked campgrounds from all over delhi</p>
            <p><a class="btn btn-primary btn-large"href="/cafes/new">Add New Cafe</a></p>
        </div>
    </header>
    <div class="big">
    <div class="container big">
    <div class="row text-center" style="display: flex;flex-wrap: wrap;">
        <% cafes.forEach(function(cafe){ %> 
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                        <img src="<%= cafe.image %>"> 
                        <div class="caption">
                            <h4>
                                <%= cafe.name %>
                            </h4>
                        </div>
                        <p>
                            <a href="/cafes/<%= cafe._id %>" class="btn btn-primary">More Info</a>
                        </p>
                </div>
                
                
            </div>
            <% }); %>
    </div>
    </div>
    </div>

<% include partials/footer %>